dependencies.python           = ">=3.14"
dependencies.fire = ">=0.7.1,<0.8"
environments.default.features = ["eserv", "dev"]

[workspace]

name    = "crosbydev.automate"
version = "0.0.1"

authors   = ["zaynram <ramdasszayn@gmail.com>"]
channels  = ["conda-forge"]
platforms = ["win-64"]
preview   = ["pixi-build"]

[pypi-dependencies]

eserv = { path = ".", editable = true }
rampy = { git = "https://github.com/zaynram/ramda-py.git", branch = "master" }

[feature]

    [feature.eserv]

        [feature.eserv.tasks]

        check-eserv.cmd = "python -m tests.eserv"

        [feature.eserv.dependencies]

        bs4            = ">=4.13.5,<5"
        dropbox        = ">=12.0.2"
        fire           = ">=0.7.1"
        nameparser     = ">=1.0.5,<2"
        orjson         = ">=3.11.4"
        python         = ">=3.14"
        rapidfuzz      = ">=3.14.1,<4"
        requests       = ">=2.32.5,<3"
        typing_inspect = ">=0.9.0,<0.10"

        [feature.eserv.pypi-dependencies]

        pymupdf       = ">=1.26.6"
        python-dotenv = ">=1.0.0,<2"
        structlog     = ">=25.5.0"

    [feature.dev]

        [feature.dev.dependencies]

        ipykernel  = "*"
        ipywidgets = "*"
        pytest     = ">=8.4.2,<9"
        pytest-cov = ">=7.0.0,<8"

        [feature.dev.pypi-dependencies]
        pymupdf-stubs = ">=1.26.1.post1, <2"

        [feature.dev.tasks]

        push.cmd = "git commit -a -m \"$(pwsh -noni -c 'get-date')\" && git push"
        test.cmd = "python -m pytest ./tests"


[package]

name.workspace    = true
version.workspace = true

    [package.build.backend]

    name    = "pixi-build-python"
    version = "*"

    [package.host-dependencies]

    hatchling = "==1.26.3"

    [package.run-dependencies]

    bs4            = ">=4.13.5,<5"
    dropbox        = ">=11.36.0,<12"
    fire           = "*"
    fitz           = ">=0.0.20,<1"
    nameparser     = ">=1.0.5,<2"
    orjson         = ">=3.11.4"
    python         = ">=3.14"
    python-dotenv  = ">=1.0.0,<2"
    rapidfuzz      = ">=3.14.1,<4"
    requests       = ">=2.32.5,<3"
    structlog      = ">=24.4.0,<25"
    typing_inspect = ">=0.9.0,<0.10"
