dependencies.python           = ">=3.14"
environments.default.features = ["core", "dev", "host"]

[workspace]

name    = "crosbydev.n8n"
version = "0.0.1"

authors   = ["zaynram <ramdasszayn@gmail.com>"]
channels  = ["conda-forge"]
platforms = ["win-64"]
preview   = ["pixi-build"]

[pypi-dependencies]

eserv = { path = "./python", editable = true }
rampy = { git = "https://github.com/zaynram/ramda-py.git", branch = "master" }

[feature]

    [feature.core]

        [feature.core.dependencies]

        bs4            = ">=4.13.5,<5"
        fire           = "*"
        nameparser     = ">=1.0.5,<2"
        orjson         = ">=3.11.4"
        python         = ">=3.14"
        rapidfuzz      = ">=3.14.1,<4"
        requests       = ">=2.32.5,<3"
        typing_inspect = ">=0.9.0,<0.10"

        [feature.core.tasks]

        remote.cmd = "python ./scripts/server-cmd.py"


    [feature.dev]

        [feature.dev.dependencies]

        ipykernel  = "*"
        ipywidgets = "*"
        pytest     = ">=8.4.2,<9"
        pytest-cov = ">=7.0.0,<8"

        [feature.dev.tasks]

        push.cmd = "git commit -a -m \"$(pwsh -noni -c 'get-date')\" && git push"
        test.cmd = "python -m pytest ./python/tests"

    [feature.host]

        [feature.host.tasks]

        update.cmd        = "python scripts/server-cmd.py 'git pull origin main'"
        update.depends-on = ["push"]

        maintenance.cmd        = "python scripts/server-cmd.py './scripts/service.ps1 reload'"
        maintenance.depends-on = ["update"]

        svc.args = [
            { arg = "cmd", default = "status" },
            { arg = "options", default = '-quiet' },
        ]
        svc.cmd = "pwsh ./scripts/service.ps1 {{ cmd }} {{ options }}"
